<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="cnStr" value="workstation id=jilanicards.mssql.somee.com;packet size=4096;user id=jilani_cards_SQLLogin_1;pwd=t84hm9upin;data source=jilanicards.mssql.somee.com;persist security info=False;initial catalog=jilanicards"/>
		<add key="cnStr1" value="Data Source=jilanicard.db3"/>
		<add key="cnStr2" value="Data Source=ADMINRG-CUS96EE;User ID=sa;Password=sa;Initial Catalog=jilanicard;"/>
		<add key="dbver" value="1"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
</configuration>